.collapse{
    &__title{
        display: flex;
        
        &:hover{
            cursor: pointer;
        }
    }
    &__title-icon{
        display:none;
        width: 0;
        svg{
            width: 100%;
            height: 100%;
            transition: all .2s ease;
            transform: rotate(180deg);
        }
        
        transform-origin: center;
        
        &.collapsed{
                //transform: rotate(0deg);
                svg{
                    transform: rotate(0deg);
                }
        }
        &--arrow{
            width: 25px;
            display: block;
        }
    }
    &__title-content{
        width: 100%;
        &--arrow{
            width: calc(100% - 25px);
        }
    }
    &__text{
        display:none;
    }
}