.wk-caret{
    
    height: 100%;

    &__caret{
        display:flex;
        align-items: center;
        height: 100%;
    }
    &__caret-icon{
        font-size: 1rem;
        &--small{
            font-size: 0.8rem;
        }
        &--big{
            font-size: 1.2rem;
        }
    }
    svg{
        transition: all .2s ease;
        transform: rotate(0deg);
    }
}
.wk-caret--rotated{
    svg{
        transform: rotate(180deg);
    }
}